body {
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
span.small {
    font-size: xx-small;
}
span.small {
    font-size: x-small;
}
span.small {
    font-size: smaller;
}
span.medium {
    font-size: medium;
}
span.large {
    font-size: larger;
}
span.large {
    font-size: x-large;
}
span.large {
    font-size: xx-large;
}